@import '../../styles/index';

.about {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;

  h1 {
    margin: 0 0 20px;
    color: $color-dark;
  }

  p {
    margin: 0;
    color: $color-dark;
    line-height: 1.355;
  }

  p:last-child {
    margin: 0 0 40px 0;
  }

  a {
    color: $color-dark;
    font-size: 16px;
    line-height: 1.355;
  }

  @include mediaMd {
    padding: 0 32px 0 52px;
    gap: 30px;
  }
}

.left {
  margin: auto 0;
  padding: 0 0 15px;

  p > a {
    border-bottom: 1px solid #61463a;
  }

  p:not(:last-child) {
    margin: 0 0 16px 0;
  }

  @include mediaMd {
    padding: 32px 0;
  }

  @include mediaLg {
    flex: 0 1 59%;
  }

}

.right {
  position: fixed;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  flex: 0 1 auto;
  display: none;
  max-width: 35vw;
  height: 100%;
  padding: 32px 0 32px 32px;

  img {
    width: 100%;
    object-fit: contain;
  }
  
  @include mediaLg {
    display: flex;
  }

}

.iconContainer {
  margin: 20px 0;
  display: flex;
  gap: 8px;
  color: $color-dark;
}