@import '../../../styles/index'; 

.piechart {
  position: relative;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  padding: 20px 20px 40px;
  border-radius: 32px;

  h2 {
    margin: 0;
    font-size: 24px;
    color: $color-dark;
    line-height: 1.375;
  }

  & > div {
    align-self: center;
  }
}

.piechartContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
}

.labels {
  display: flex;
  justify-content: center;
  gap: 9%;
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  color: $color-dark;
  font-size: 16px;
  line-height: 22px;

  &::before {
    content: '';
    margin: 0 12px 0 0;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
}

.labelAmber {
  @extend .label;
  
  &::before {
    background-color: #F7B32B;
  }
}

.labelRed {
  @extend .label;
  
  &::before {
    background-color: #F25F5C;
  }
}