@import '../../styles/index';

.flights-column-labels {
  display: grid;
  grid-template-columns: $flight-cols-pattern-sm;
  padding: 20px 0;
  place-items: center;
  gap: 5px;
  text-align: center;

  > * {
    margin: 0 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    min-width: 30px;
    text-align: center;
    line-height: normal;
  }

  > *:last-child {
    font-weight: 500;
    color: $color-dark;
  }

  @include mediaXl {
      grid-template-columns: $flight-cols-pattern-lg;
  }
}

.flights-column-labels-divider {
  border: none;
  height: 1px;
  background-color: #ECF5ED;
  margin: 0;
  padding: 0;
}
  