@import '../../../styles/index';

.dashboard {
  padding: 15px;
  height: 100%;

  @include mediaMd {
    padding: 32px;
  }
}

.container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(2, minmax(1px, auto));
  grid-template-areas: 
  "dash-table"
  "dash-graph"
  "dash-score";
  gap: 10px;
  padding: 0 0 15px;


  @include mediaSm {
    @media (orientation: portrait) {
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50% minmax(1px, 1fr);
      grid-template-areas: 
        "dash-table dash-table"
        "dash-graph dash-score";
      gap: 15px;
      padding: 0;
    }

  }

  @include mediaMd {
    padding: 0;

    @media (min-height: 700px ) {
      grid-template-columns: 57.7% minmax(0, 1fr);
      grid-template-rows: 58.4% minmax(0, 1fr);
      grid-template-areas: 
        "dash-table dash-graph"
        "dash-table dash-score";
      height: 100%;
      gap: 20px;
    }
  }
}

.title {
  font-size: 24px;
  line-height: 1.35;
  font-weight: 700;
  color: $color-dark;
}

.table {
  grid-area: dash-table;
  position: relative;
}

.graph {
  grid-area: dash-graph;
}

.scoreboard {
  grid-area: dash-score;
}