@import "../../../styles/index";

input {
 font-family: Manrope, sans-serif !important;
}

.rowCarDivider{
  border: none;
  height: 1px;
  background-color: #ECF5ED;
  margin: 0;
  padding: 0;
}

.rowCar {
  display: grid;
  color: $color-dark;
  font-size: 14px;
  line-height: 1.375;
  grid-template-columns: $cars-cols-pattern-sm;
  gap: 5px;
  place-items: center;
  height: max(calc((100% - 8px) / 8), 73px);

  @include mediaXl {
    grid-template-columns: $cars-cols-pattern-lg !important;
    gap: 20px !important;
  }

  &IconLabel {
    font-size: inherit;
    font-weight: 500;
  }

  p {
    margin: 0;
    text-align: center;
  }

  > div:first-child {
    color: $color-gray;
    font-weight: 400;
  }

  > div:last-child {
    font-weight: 700;
  }
}