@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
}

body {
  margin: 0;
  font-family: Manrope -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ECF5ED;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: Manrope, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
}

h2 {
  font-family: Manrope, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

p {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #000000;
}

button {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #000000;
  border: none;
  background: none;
  cursor: pointer;
}

input {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #000000;
  border: none;
  background: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  border-bottom: 1px solid #ECF5ED;
  border-top: 1px solid #ECF5ED;
}

thead th {
  padding: 20px 0;
}

tr:not(:last-child) {
  border-bottom: 1px solid #ECF5ED;
}

th {
  display: table-cell;
  padding: 12px 0;
}

th span.input {
  display: flex;
  width: min-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
